## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>


## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
<title>formaX</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="${ static.url('themes/default/css/style.css') }" />
<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">formaX</a></h1>
      <nav id="nav">
	<ul>
	  <li class="special">
	    <a href="#" class="menuToggle" style="color: #fff;"><span>Menu</span></a>
	    <div id="menu">
	      <ul>
		<li><a href="${ reverse('root') }">Principal</a></li>
		<li><a href="${ marketing_link('COURSES') }">Cursos</a></li>
		<li><a href="${ marketing_link('ABOUT')}">A cerca de nosotros</a></li>
		<li><a href="${ reverse('register_user') }">Registrarse</a></li>
		<li><a href="${ reverse('signin_user') }">Iniciar seción</a></li>
	      </ul>
	    </div>
	  </li>
	</ul>
      </nav>
    </header>
</%block>



